<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571936530536-6mdl2amqq24hin9fqli16v893as6q5d7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571936530536-6mdl2amqq24hin9fqli16v893as6q5d7</string>
	<key>API_KEY</key>
	<string>AIzaSyD-FyjXy_sJP--kdmkZK4qVjk5T7qFWxAg</string>
	<key>GCM_SENDER_ID</key>
	<string>571936530536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.natali.CU-Bachelors-Project</string>
	<key>PROJECT_ID</key>
	<string>cu-bachelorsproject</string>
	<key>STORAGE_BUCKET</key>
	<string>cu-bachelorsproject.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571936530536:ios:0e5200e44cbde2ba64dbdd</string>
</dict>
</plist>